/*
CSS for Mike Beirne's personal site.
*/

body {
     font-family: Verdana, Helvetica, Arial, sans-serif;
     background-color: #00A3A3;
     background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#040), to(#00a3a3));
     background-image: -webkit-linear-gradient(top, #040, #00a3a3);
     background-image: -moz-linear-gradient(top, #040, #00a3a3);
     background-image: -ms-linear-gradient(top, #040, #00a3a3);
     background-image: -o-linear-gradient(top, #040, #00a3a3);
     background-image: linear-gradient(top, #040, #00a3a3);
//     background-image: url(teal_paper.gif);
//     line-height: 125%;
//     padding: 15px;
//     border: 4px solid navy;
}

h1 {
    font-size: x-large;
    color: white;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .4em;
}

.feature {
    float: right;
    margin: 10px;
}

li {
   font-size: small;
   list-style-type: none;
}

.picture {
font-size: 65%;
font-weight: bold;
margin-top: 10px;
line-height: 1.4em;
}

.picture img {
border: 5px solid white;
}

// a:link {color:#121231;text-decoration:none;}
// a:visited {color:#0000FF;text-decoration:none;}
// a:hover {color:#FF00FF;text-decoration:underline;}
// a:active {color:#00FF00;text-decoration:underline;}
a:link { color: #f15;font-weight: bold; text-decoration:none;}
a:visited { color: #f10;font-weight: bold;text-decoration:none; }
a:hover { color: white;font-weight: bold; background: red;text-decoration:none; }

.clear {
   margin: 0;
   clear: both;
}

#bodycontent {
   margin-top: 60px;
   clear: left;
}

li, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.sf_pagetitle {
   margin-top: 80px;
   clear: both;
}

#greenbackground h1 {
   margin-top: 80px;
   clear: both;
}

#aftermenu h1 {
   margin-top: 80px;
   margin-bottom: 0;
   clear: both;
}

#subMenu0 {
   margin-top: 0;
   padding: 0;
}

#photos img {
  position: absolute;
}                                                                                                                                                               #photos {
  width: 400px;
  overflow: hidden;
}

.halloween {
   font-family: 'Nosifer', Verdana, Helvetica, Arial, sans-serif;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#100), to(#555));
   background-image: -webkit-linear-gradient(bottom, #100, #555);
   background-image: -moz-linear-gradient(bottom, #100, #555);
   background-image: -ms-linear-gradient(bottom, #100, #555);
   background-image: -o-linear-gradient(bottom, #100, #555);
   background-image: linear-gradient(bottom, #100, #555);
   background-color: #555;
   color: #F51;
}

.halloween a:link { color: #810;font-weight: bold; text-decoration:none;}
.halloween a:visited { color: #810;font-weight: bold;text-decoration:none; }
.halloween a:hover { color: white;font-weight: bold; background: red;text-decoration:none; }
.halloween div#menuTop li { background-color: #100;}
.halloween div#menuTop a:hover {
  background-color: #100;
  color:#f00;
  text-decoration:none;
}
.halloween h1 { color: #f10;}
.halloween div#menuTop a {background-color: #100;
    color: #f51;
}
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
        font-size: large ;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	border-left: 1px solid yellow; 
	border-top: 1px solid yellow; /* fallback colour must use full shorthand */
	border-top: 1px solid rgba(255,255,255,.5);
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: white;
}
.sf-menu a:hover {
    color: greenyellow ;
    background: #040;
}
.sf-menu li {
	background: #00A3A3 ;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	background: #00A3A3;
}
.sf-menu ul ul li {
	background: #00A3A3;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
 	background: #040;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
 	border-top-color: yellow; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5); 
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: yellow;  /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: yellow;  /* edit this to suit design (no rgba in IE8) */
 	border-left-color: rgba(255,255,255,.5); 
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: yellow; 
}

